root = true

[**]
insert_final_newline = true
trim_trailing_whitespace = true

[LICENSE]
charset = utf-8

[**.txt]
charset = utf-8

[**.json]
charset = utf-8
indent_style = tab
indent_size = 4

[**.md]
charset = utf-8

[**.lisp]
charset = utf-8
indent_style = tab
indent_size = 4

[*.asd]
charset = utf-8
indent_style = tab
indent_size = 4

[*.sexp]
charset = utf-8
indent_style = tab
indent_size = 4

[*.hpp]
charset = utf-8
indent_style = tab
indent_size = 4

[*.cpp]
charset = utf-8
indent_style = tab
indent_size = 4

[*.h]
charset = utf-8
indent_style = tab
indent_size = 4

[*.c]
charset = utf-8
indent_style = tab
indent_size = 4

[CMakeLists.txt]
charset = utf-8
indent_style = tab
indent_size = 4

[meson.build]
charset = utf-8
indent_style = tab
indent_size = 4

[.clang-format]
charset = utf-8
indent_style = space
indent_size = 2

[.clangd]
charset = utf-8
indent_style = space
indent_size = 2

[**.abyss]
charset = utf-8
indent_style = tab
indent_size = 4

